@model MoneyShare.Models.RegisterViewModel
<h2>Register new user</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label for="1" class="form-label">Email</label>
        <input name="Email" type="text" class="form-control" id="2">
    </div>
    <div>
        <label for="2" class="form-label">Password</label>
        <input name="Password" type="text" class="form-control" id="2">
    </div>
    <div>
        <label for="3" class="form-label">PasswordConfirm</label>
        <input name="PasswordConfirm" type="text" class="form-control" id="2">
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>

@*<label asp-for="Password">Password</label><br />
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>*@